<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/header :: common-header"></head>


<body>

<!-- <div th:replace="common/navbar :: common-navbar" xmlns:th="http://www.w3.org/1999/xhtml"></div> -->

<div th:replace="common/navbar :: common-navbar"></div>

<div class="container">

    <div class="starter-template">
        <h1 th:text="#{index.main.callout}">!our title!</h1>
        <p class="lead">111Use this document as a way to quickly start any new project. All you get is this text and a
            mostly barebones HTML document 131.</p>
    </div>

</div><!-- /.container -->

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->

<div th:replace="common/header :: before-body-scripts"></div>

<!-- <div th:replace="common/header :: before-body-scripts" xmlns:th="http://www.w3.org/1999/xhtml"></div> -->

</body>
</html>
